body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 200px;
  height: auto;
}

ul {
  text-align: left;
  margin: auto;
  width: fit-content;
}

.dark-div {
  position: fixed;
  z-index: -2;
  background-color: #333;
  width: 100vw;
  height: 100vh;
}

.light-div {
  position: fixed;
  z-index: -2;
  background-color: white;
  width: 100vw;
  height: 100vh;
}
