body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 200px;
  height: auto;
}

ul {
  text-align: left;
  margin: auto;
  width: fit-content;
}
